<div class="footer-bottom">
    <h2 class="text-center white">For More Information</h2>
    <p class="text-center white">Contact Brian Schmeiser at 608-620-5110, or email at <a href="mailto:BrianSchmeiser@HR4DConsulting.com">BrianSchmeiser@HR4DConsulting.com</a></p>
 </div>