<html>
	<body>
		<div class="contact white">
			<h1 class="text-center">Measurement &amp; Analytics</h1>
			<p><span class="heavier">HR4D Consulting</span> will work with you to understand your company’s specific needs and create a custom solution for your organization.  We will work with your existing staff to identify the scope and available data.  Projects may range from assisting with an external benchmark data collection, developing a book of metrics to manage HR operational effectiveness, or developing custom metrics that report the progress of select strategic corporate initiatives.  We will develop metrics to be monitored ongoing, and assist staff with identifying trends and drawing actionable conclusions from data.  Most companies are struggling to delivery reporting to the organization that communicate people metrics and analysis that will better engage organizational leaders and stakeholders - <span class="heavier">HR4D</span> can help. </p>
			<h2>Benefits</h2>
			<div class="line"></div>
			<ul>
				<li>Improved operational efficiency of HR functions</li>
				<li>Ability to communicate the business impact of programs</li>
				<li>Improve other organizational leaders perception and understanding of HR</li>
				<li>Increase the business acumen of HR staff</li>
			</ul>
			<p><span class="heavier">HR4D</span> consultants have been trained and certified as a green belt in Lean Six Sigma and SPHR by the <a class="link">Society for Human Resource Management</a>.</p>
		</div>
		
		<%= render 'footer' %>
	</body>
</html>