<html>
<body>
	<div class="contact white">
		<h1 class="text-center">Program Management</h1>
		<p><span class="heavier">HR4D Consulting</span> will work with you to align stakeholders' expectations and define the scope of the project. We will develop and manage the work breakdown structure, schedule, and assist with the deployment of resources. There will be continued oversight of the working team - confirming progress and making adjustments to maintain the critical path. Stakeholders will remain informed of the projects progress, risks, and their governance responsibilities.</p>
		<h2>Benefits</h2>
		<div class="line"></div>
		<div class="narrow">
			<li>
				<ul class="li">​Improve the success rate of complex and high risk projects</ul>
				<ul class="li">Define the work and schedule to deliver on HR commitments</ul>
				<ul class="li">Ensure effective deployment of limited HR resources (staff and budget)</ul>
				<ul class="li">Avoid project mistakes and mitigate risks</ul>
				<ul class="li">Provide a single point person for other internal stakeholders, contractors, and external resources</ul>
			</li>
		</div>
		<p><span class="heavier">HR4D</span> project managers are certified <a href="" class="link">Program Management Institue (PMI)</a> professionals.</p>
	</div>
	<%= render 'footer' %>
</body>
</html>