<html>
<body>
	<div class="contact white">
		<h1 class="text-center">Process Design &amp; Improvement</h1>
		<p><span class="heavier">HR4D</span> will work with you to define, design, and develop processes and systems that allow HR to operate effectively and efficiently.  Many organizations have initiatives (like Lean Six Sigma) that are being applied to the core business operations.  Most of these programs are grounded in manufacturing, but are challenged when applied to HR precisely because HR is about people resources.  HR4D consultants know HR and we have deep experience in defining and improving HR processes.  We can help define the current process (as is) and the future process (to be) by engaging your subject matter experts to create a detailed flow chart and procedural documents that will expose opportunities for improvement and help align all staff to perform repeatable work with improved accuracy, quality, and efficiency.</p>
		<h2>Benefits</h2>
		<div class="line"></div>
		<ul>
			<li>Processes achieve desired outcomes</li>
			<li>More clearly defined, efficient and effective processes</li>
			<li>Improved alignment of limited staff; releasing higher-level specialists to perform more strategic work</li>
			<li>Design new, sustainable processes</li>
		</ul>
		<p><span class="heavier">HR4D</span> consultants have been trained and certified as a green belt in Lean Six Sigma and by the <a href="">Society for Human Resource Management.</a></p>
	</div>

	<%= render 'footer' %>

</body>
</html>