<html>
<div class="contact white">
	<h1 class="text-center">Strategic Planning</h1>
	<p>Even senior leaders in HR need a partner and someone to help them bring out the best in their organizations.  Strategic Planning services may be a one-time project or part of an ongoing relationship. HR4D Consulting will work with HR leaders to define goals, tactical objectives, and deployment of limited resources that are aligned with corporate strategic objectives.  Although this is commonly done as part of an annual planning process and may result in a multi-year plan, it may also include an ongoing discussion and coordinate with other related services offered by HR4D.  We will assist you with defining priorities for HR that impact business results, building a business case for budget requests, creating a monthly report out for the organization leaders, and more based on your needs. </p>
	<h2>Benefits</h2>
	<div class="line"></div>
	<div class="narrow">
		<ul>
			<li>​HR objectives are aligned with the businesses needs</li>
			<li>Optimal alignment of limited HR resources to deliver on highest priorites</li>
			<li>Improved business understanding and perception of HR</li>
		</ul>
	</div>
	<p class="space">These services and arrangements must be uniquely defined to match your organizational needs.  Successful engagements require good chemistry and working relationships between the consultant and the HR leader.  We invite you to contact us for an initial interview with no commitment or cost to you.</p>

</div>

	<%= render 'footer' %>

</html>