<html>
	<body>
		<div class="contact white">
			<h1 class="text-center">Technology Utilization</h1>
			<p>It is not uncommon for HR organizations to struggle to take advantage of new or existing HR technology.  This is true, in part, because these are not the skills that attract people to work in HR or make them most successful.  It is also true because too often there is a breakdown between the technical implementation and the change management required to utilize the functionality hidden within these systems.  HR4D consultants know both HR and technology, and can help the HR staff refine the way they work to allow technology to make their jobs easier and free them up for more strategic work that utilizes the skills sets they were hired for.  HR4D Consulting can assist with a fit gap analysis of existing or proposed new technology, redesign the existing processes, and reframe the way HR staff feels about the expensive systems and programs your organization has already invested in.</p>
			<h2>Benefits</h2>
			<div class="line"></div>
			<div class="narrow">
				<ul>
					<li>Improved business results through HR programs and services</li>
					<li>Increased ROI on technology already purchased</li>
					<li>Deliver improved HR operational quality and accuracy​</li>
				</ul>
			</div>
		</div>
		<%= render 'footer' %>
	</body>
</html>