<div class="footer-bottom">
    <h2 class="text-center white"><a href="/pages/services" class="link">Learn about our services</a> or <a href="/pages/contact" class="link">Contact us today.</a></h2>
    <h3 class="text-center">©HR4D Consulting, LLC</h3>
 </div>