<!DOCTYPE html>
<html>
<head>
	<title>HR4D</title>
</head>
<body>

	<div class="white contact">

		<h1 class="text-center">About <span class="heavier">HR4D</span></h1>

		<p>Brian formed HR4D Consulting in 2012.</p>
		<p>Brian is a passionate, knowledgeable business partner for his clients. He has over 15 years of experience in both corporate and 	HR as a consultant, including:</p>

		<ul>
			<li>Providing program managment leadership to several Fortune 500 companies, in more than 10 major technology and outsourcing companies.</li>
			<li>Defining the processes for an internal HR service center.</li>
			<li>Defining and leading HR vendor managment training sessions.</li>
			<li>Partnering in the redesign of the HR organization.</li>
			<li>Facilitated provider search and benchmark projects</li>
		</ul>

		<p>Brian is based in Madison while bringing national experience. He has a degree from the University of Wisconsin-Madison, and certification of a Program Mangement Professional (PMP), Senior Human Resources Professional (SHRP), and a Green Belt in Lean Six Sigma</p>
		<p>Working with <span class="heavier">HR4D</span> provides you with:</p>

		<ul>
			<li>Customized Services designed specifically to supplement your staff.</li>
			<li>Experienced transformational leadership across all HR concentrations in multiple industries.</li>
			<li>A personal touch- Brian does the work himsel instead of sending to junior consultants.</li>
			<li>Brian is based in southern Wisconsin resulting in little travel and lower overall expenses.</li>
		</ul>

	</div>

	<%= render 'footer' %>

</body>
</html>