<!DOCTYPE html>
<html>
<head>
	<title>HR4D</title>
</head>
<body>
	<div class="contact white">
		<h1 class="text-center">Contact Us</h1>
		<div class="left-half">
			<h2>HR4D Consulting, LLC</h2>
			<h2>608-620-5110</h2>
			<h2><a href="mailto:mailto:BrianSchmeiser@HR4DConsulting.com">BrianSchmeiser@HR4DConsulting.com</a></h2>
		</div>
		<div class="right-half">
			<p>Our services and approach is personalized to match our client's unique needs.  We believe there is an intimacy about how we can work, where your goals become our goals and our success is measured by yours.  We believe it is best to ask questions, listen, and learn.  We want to earn the right to do business with you some day.</p>
			<br>
			<p>Clients come to <span class="heavier">HR4D Consulting</span> with special projects that will have a high impact but their staff does not have specialized expertise (or time) to make the progress while balancing an already busy workload.</p>
			<br>
			<p>Try us out!  After we talk, if we do not have the experience to help you, we will hel​p put you in touch with other local consultants who can.</p>
		</div>
	</div>

	<%= render 'footer' %>

</body>
</html>