<!DOCTYPE html>
<html>
<head>
  <title>HR4D</title>
</head>
<body>

    <h2 class="space white">​​<span class="heavier">HR4D Consulting</span> works with business leaders to build high-performing organizations. We help leaders turn strategic business plans into results that differentiate their business in the market.</h2>

    <div class="space white narrow">
      <h3><span class="Heavier">HR4D's Mission:</span>  Ensure our client organizations fulfill their visions, by adopting their goals as ours, creating solutions that are right for them, and making the people who hire us professionally successful.</h3>
    </div>

      <h2 class="space white">We adapt our <span class="link">services</span> to meet your unique needs, not requiring you to fall within a pre-defined box.</h2>

	   <div class="fourd space">
		  <h1>Define</h1>
		  <p>Consultative exploration to understand your organization's unique needs</p>
	   </div>

  	<div class="fourd space">
  		<h1>Develop</h1>
		  <p>Create a plan to move from strategy to execution and engage your staff.</p>
  	</div>

  	<div class="fourd space">
  		<h1>Deliver</h1>
  		<p>Manage and lead the execution of the plan(s), identify and mitigate risks along the way.</p>
  	</div>

    <div class="fourd space">
      <h1>Differentiate</h1>
      <p>Ensure successful outcomes while growing the skill sets of your staff for continued excellence.</p>
    </div>
  	<div class="space"></div>

  	<%= render 'footer' %>

</body>
</html>