<!DOCTYPE html>
<html>
<head>
	<title>HR4D</title>
</head>
<body>
	<div class="contact">
	<h1 class="white text-center">Services</h1>
	<p class="white space"><span class="heavier">HR4D</span> provides services to help support your organizations transformation, reach specific goals, and complete special projects for your company. <span class="heavier">HR4D</span> will supplement and work with your existing staff where our unique skills are most needed. Your goals become our goals as we provide assistance (and leadership) on the high priority projects to improve HR operations that produce results for your business.</p>
	<p class="white">Our services utilize a specialized set of skills that are not necessarily part of the traditional HR department and may not be required to be on staff full time.</p>

	<div class="narrow white">
		<ul>
			<li class="link"><a href="/services/strategicplanning">Strategic Planning</a></li>
			<li class="link"><a href="/services/coaching">Coaching</a></li>
			<li class="link"><a href="/services/pm">Program Managment</a></li>
			<li class="link"><a href="/services/process">Process Design &amp; Improvement</a></li>
			<li class="link"><a href="/services/tech">Technology Utilization</a></li>
			<li class="link"><a href="/services/ma">Measurement &amp; Analytics</li></li>
		</ul>
	</div>

	<p class="white">All services are personalized to match our client's unique needs.  Other services are available upon request.</p>
	</div>

	<%= render 'footer' %>

</body>
</html>