<!DOCTYPE html>
<html>
<head>
  <title>Hr4d</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="/app/assets/javascripts/custom.js"></script>
</head>
<body>

<div class="navbar">

    <div class="box first">
      <a href="/pages/home" class="link-disabled">HR4D</a>
    </div>

    <div class="box second">
      <span class="tagline">Define, Develop, Deliver, and Differentiate</span>
      <br>

      <a class="link" href="/pages/home">
        Home
      </a>

      <a class="left link" id="services" href="/pages/services">
        Services
      </a>
      <div class="caret" id="caret"></div>

      <a class="left link" href="/pages/contact">
        Contact Us
      </a>

      <a class="left link" href="/pages/about">
        About
      </a>

    </div>

</div>

<div class="dropdown-services">
  <nav class="services">

    <a class="first-nav" href="/services/strategicplanning">Strategic Planning</a>
    <a href="/services/coaching">Coaching</a>
    <a href="/services/pm">Program Management</a>
    <a href="/services/process">Process Design &amp; Improvement</a>
    <a href="/services/tech">Technology Utilization</a>
    <a href="/services/ma">Measurement &amp; Analytics</a>

    <ul class="first-list">
      <a class="white" href="/services/strategicplanning">Strategic Planning</a>
      <br>
      <a class="white" href="/services/coaching">Coaching</a>
      <br>
      <a class="white" href="/services/pm">Program Management</a>
      <br>
      <a class="white" href="/services/process">Process Design &amp; Improvement</a>
      <br>
      <a class="white" href="/services/tech">Technology Utilization</a>
      <br>
      <a class="white" href="/services/ma">Measurement &amp; Analytics</a>      
    </ul>

  </nav>
</div>


<div class="container">
<%= yield %>
</div>


</body>
</html>
