<!DOCTYPE html>
<html>
<head>
  <title>Hr4d</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="/app/assets/javascripts/custom.js"></script>
</head>
<body>

<div class="navbar">

    <div class="box first">
      <span>HR4D</span>
    </div>

    <div class="box second">
      <span class="tagline">Define, Develop, Deliver, and Differentiate</span>
      <br>

      <a class="link" href="/pages/home">
        Home
      </a>

      <span class="left link" id="services">
        Services
      </span>
      <span class="caret"></span>

      <a class="left link" href="/pages/contact">
        Contact
      </a>

      <span class="left link">
        About
      </span>

    </div>

</div>

<div class="dropdown-services">
  <nav class="services">

    <span class="first-nav">Program Managment</span>
    <span>Process Design and Improvement</span>
    <span>Technology Utilization</span>
    <span>Measurement and Analytics</span>
    <span>Strategic Planning</span>

    <ul class="first-list">
      <span class="white">Program Managment</span>
      <br>
      <span class="white">Process Design and Improvement</span>
      <br>
      <span class="white">Technology Utilization</span>
      <br>
      <span class="white">Measurent and Analytics</span>
      <br>
      <span class="white">Strategic Planning</span>      
    </ul>

  </nav>
</div>


<div class="container">
<%= yield %>
</div>

  <div class="footer">
    <h2 class="text-center white">For More Information</h2>
    <p class="text-center white">Contact Brian Schmeiser at 608-620-5110, or email at <a href="mailto:BrianSchmeiser@HR4DConsulting.com">BrianSchmeiser@HR4DConsulting.com</a></p>
  </div>

</body>
</html>
